<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wy.mapper.ButtonMapper">
  <resultMap id="BaseResultMap" type="com.wy.model.Button">
    <id column="button_id" jdbcType="INTEGER" property="buttonId" />
    <result column="button_name" jdbcType="VARCHAR" property="buttonName" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    button_id, button_name, menu_id
  </sql>
  <select id="selectByExample" parameterType="com.wy.model.ButtonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts_button
    where button_id = #{buttonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ts_button
    where button_id = #{buttonId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wy.model.ButtonExample">
    delete from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="button_id" keyProperty="buttonId" parameterType="com.wy.model.Button" useGeneratedKeys="true">
    insert into ts_button (button_name, menu_id)
    values (#{buttonName,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="button_id" keyProperty="buttonId" parameterType="com.wy.model.Button" useGeneratedKeys="true">
    insert into ts_button
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buttonName != null">
        button_name,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buttonName != null">
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wy.model.ButtonExample" resultType="java.lang.Long">
    select count(*) from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ts_button
    <set>
      <if test="record.buttonId != null">
        button_id = #{record.buttonId,jdbcType=INTEGER},
      </if>
      <if test="record.buttonName != null">
        button_name = #{record.buttonName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ts_button
    set button_id = #{record.buttonId,jdbcType=INTEGER},
      button_name = #{record.buttonName,jdbcType=VARCHAR},
      menu_id = #{record.menuId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.model.Button">
    update ts_button
    <set>
      <if test="buttonName != null">
        button_name = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
    </set>
    where button_id = #{buttonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wy.model.Button">
    update ts_button
    set button_name = #{buttonName,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=INTEGER}
    where button_id = #{buttonId,jdbcType=INTEGER}
  </update>
  <insert id="inserts" parameterType="list">
    insert into ts_button (button_id,button_name,menu_id)  values <foreach collection="list" index="index" item="item" separator=",">(null,#{item.buttonName,jdbcType=VARCHAR},#{item.menuId,jdbcType=INTEGER})</foreach>
  </insert>
  <delete id="deleteByPrimaryKeys" parameterType="list">
    delete from  ts_button where button_id in <foreach close=")" collection="list" item="buttonId" open="(" separator=",">#{buttonId,jdbcType=INT}</foreach>
  </delete>
  <delete id="deleteAll">
    delete from  ts_button 
  </delete>
  <select id="selectEntitys" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_button<where><if test="buttonId != null "> and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null "> and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null "> and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="selectLists" resultType="map">
    select <include refid="Base_Column_List" /> from ts_button<where><if test="buttonId != null "> and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null "> and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null "> and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from ts_button<where><if test="buttonId != null ">and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null ">and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null ">and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="getMaxValue" resultType="java.lang.Long">
    select <choose><when test="'buttonId' == _parameter.column">max(button_id)</when><when test="'menuId' == _parameter.column">max(menu_id)</when><otherwise>max(0)</otherwise>  </choose>  from ts_button
  </select>
  <select id="getMaxTime" resultType="java.util.Date">
    select <choose><otherwise>1970-01-01 00:00:00</otherwise>  </choose>  from ts_button
  </select>
  <resultMap id="BaseResultMap" type="com.wy.model.Button">
    <id column="button_id" jdbcType="INTEGER" property="buttonId" />
    <result column="button_name" jdbcType="VARCHAR" property="buttonName" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    button_id, button_name, menu_id
  </sql>
  <select id="selectByExample" parameterType="com.wy.model.ButtonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ts_button
    where button_id = #{buttonId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ts_button
    where button_id = #{buttonId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wy.model.ButtonExample">
    delete from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="button_id" keyProperty="buttonId" parameterType="com.wy.model.Button" useGeneratedKeys="true">
    insert into ts_button (button_name, menu_id)
    values (#{buttonName,jdbcType=VARCHAR}, #{menuId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="button_id" keyProperty="buttonId" parameterType="com.wy.model.Button" useGeneratedKeys="true">
    insert into ts_button
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buttonName != null">
        button_name,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buttonName != null">
        #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wy.model.ButtonExample" resultType="java.lang.Long">
    select count(*) from ts_button
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ts_button
    <set>
      <if test="record.buttonId != null">
        button_id = #{record.buttonId,jdbcType=INTEGER},
      </if>
      <if test="record.buttonName != null">
        button_name = #{record.buttonName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ts_button
    set button_id = #{record.buttonId,jdbcType=INTEGER},
      button_name = #{record.buttonName,jdbcType=VARCHAR},
      menu_id = #{record.menuId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wy.model.Button">
    update ts_button
    <set>
      <if test="buttonName != null">
        button_name = #{buttonName,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=INTEGER},
      </if>
    </set>
    where button_id = #{buttonId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wy.model.Button">
    update ts_button
    set button_name = #{buttonName,jdbcType=VARCHAR},
      menu_id = #{menuId,jdbcType=INTEGER}
    where button_id = #{buttonId,jdbcType=INTEGER}
  </update>
  <insert id="inserts" parameterType="list">
    insert into ts_button (button_id,button_name,menu_id)  values <foreach collection="list" index="index" item="item" separator=",">(null,#{item.buttonName,jdbcType=VARCHAR},#{item.menuId,jdbcType=INTEGER})</foreach>
  </insert>
  <delete id="deleteByPrimaryKeys" parameterType="list">
    delete from  ts_button where button_id in <foreach close=")" collection="list" item="buttonId" open="(" separator=",">#{buttonId,jdbcType=INT}</foreach>
  </delete>
  <delete id="deleteAll">
    delete from  ts_button 
  </delete>
  <select id="selectEntitys" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from ts_button<where><if test="buttonId != null "> and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null "> and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null "> and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="selectLists" resultType="map">
    select <include refid="Base_Column_List" /> from ts_button<where><if test="buttonId != null "> and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null "> and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null "> and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="countByEntity" resultType="java.lang.Long">
    select count(*) from ts_button<where><if test="buttonId != null ">and button_id = #{buttonId,jdbcType=INTEGER} </if><if test="buttonName != null ">and button_name = #{buttonName,jdbcType=VARCHAR} </if><if test="menuId != null ">and menu_id = #{menuId,jdbcType=INTEGER} </if></where>
  </select>
  <select id="getMaxValue" resultType="java.lang.Long">
    select <choose><when test="'buttonId' == _parameter.column">max(button_id)</when><when test="'menuId' == _parameter.column">max(menu_id)</when><otherwise>max(0)</otherwise>  </choose>  from ts_button
  </select>
  <select id="getMaxTime" resultType="java.util.Date">
    select <choose><otherwise>1970-01-01 00:00:00</otherwise>  </choose>  from ts_button
  </select>
</mapper>