<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<!-- 通用参数 -->
	<!--<include resource="org/springframework/boot/logging/logback/base.xml" /> -->
	<springProperty scope="context" name="logLevel" source="logging.level" />
	<springProperty scope="context" name="logPath" source="logging.path" />

	<!-- 日志格式 -->
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<!-- 日志文件输出，如果不定义按spring boot默认输出 -->
	<appender name="dailyRollingFileAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${logPath}/moria.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<FileNamePattern>${logPath}/moria.%d{yyyy-MM-dd}.log</FileNamePattern>
			<!-- 若每天滚动日志,保留多少天的日志 -->
			<maxHistory>365</maxHistory>
		</rollingPolicy>
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</Pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>

	<!-- 不同环境配置不同的日志级别 -->
	<!-- 开发环境日志级别 -->
	<springProfile name="dev">
		<root level="${logLevel}">
			<appender-ref ref="consoleAppender" />
		</root>
		<logger name="org.springframework" level="INFO" />
		<logger name="com.wy" level="DEBUG" />
		<logger name="mapper" level="INFO" />
	</springProfile>

	<!-- 生产环境日志级别 -->
	<springProfile name="prod">
		<root level="${logLevel}">
			<appender-ref ref="consoleAppender" />
			<appender-ref ref="dailyRollingFileAppender" />
		</root>
		<logger name="com.wy" level="INFO" />
	</springProfile>
</configuration>